{% extends "index.html" %}
{% block title %}
<title>Privacy</title>
{% endblock title %}
{% block main %}
<div class="topnav">
	<a href="/">Home</a>
	<a href="/login">Login</a>
	<a href="/about">About</a>
	<a class="active" href="/privacy">Privacy</a>
	<a href="/terms">Terms</a>
  </div>
<div class="container-login100">
    <div class="wrap-login100">
        <p>User credentials are always protected.
		</p>
		<p>Passwords are strongly encrypted, and is verified from more than one source making hackers' difficult to hash its associated string
		</p>
		<p>Users' Todo list items and tasks are only displayed on their dashboards hence no third party interference
		</p>
		<p>There is no admin user monitoring users' data and activities, hence the application is safe to keep confidential Todo items
		</p>
        
    </div>
</div>
{% endblock main %}