{% extends "index.html" %}
{% block title %}
<title>Terms</title>
{% endblock title %}
{% block main %}
<div class="topnav">
	<a  href="/">Home</a>
	<a href="/login">Login</a>
	<a href="/about">About</a>
	<a href="/privacy">Privacy</a>
	<a class="active" href="/terms">Terms</a>
  </div>
<div class="container-login100">
    <div class="wrap-login100">
        <p>There are no legal regulations surrounding the use of this application.
		</p>
		<p>It accomodates the "Free Entry Free Exit" rule
		</p>
        
    </div>
</div>
{% endblock main %}